<nav class="mt-2 border-bottom">
  <div class="d-flex flex-row position-relative">
    <a href="{{ `/` | relURL }}"
      ><i title="Home" class="nav-menu mr-2 mt-1 fas fa-home"></i
    ></a>
	<!-- 点击烟花特效，CPU占用高，解除注释以启用 -->
	<canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas> 
	<script type="text/javascript" src="//cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script> 
	<script type="text/javascript" src="/js/fireworks.js"></script>
	<!-- 特效完 -->
	
    {{ partial "bookMenu" . }}
    {{ if eq .Kind "page" }}
    {{ partial "chapterMenu" . }}
    {{ end }}
  </div>
</nav>
